<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <!-- <h1>
    {{ title }} 
  </h1> -->
  <img alt="logo" src="/assets/resources/banner.jpg">
  <div>
    <!-- <p><button (click)="router.navigate('/page1');" type="submit" class="btn btn-primary" >Añadir Aikidoka</button></p> -->
  </div>
</div>

<!-- <app-employee></app-employee> -->
<!-- <app-aikidoka-detail></app-aikidoka-detail> -->

<!--
<div style="text-align:center;border:1px solid red"> 
  <b>Uppercase Pipe</b> : {{title | uppercase}}<br>
  <b>Lowercase Pipe</b> : {{title | lowercase}}<br>
  <b>Currency Pipe</b> : {{1234.56 | currency:"USD"}}<br>   
  <b>Json Pipe</b> : {{ jsonval | json}}<br>
  <b>Percent Pipe</b> : {{00.54565 | percent}}<br>
  <b>Slice Pipe</b> : {{days | slice:2:4}}<br>
  <b>Date Pipe</b> : {{birthday | date}}<br>
  <b>Date Pipe</b> : {{birthday | date:'fullDate'}}<br>
  {{"7-9-0" | hyphenToSlash}}
</div>
-->
<!-- <appk-aikidoka-detail></app-aikidoka-detail> -->

<div style="text-align:center">
  <a class="btn btn-primary" routerLink="/aikidoka-list" routerLinkActive="active">List of Aikidokas</a>
  <a class="btn btn-primary" routerLink="/aikidoka-detail" routerLinkActive="active">Aikidoka form</a>
</div>
<p></p>
<router-outlet></router-outlet>
